{
	"branches": [
		"main"
	],
	"plugins": [
		[
			"@semantic-release/commit-analyzer",
			{
				"parserOpts": {
					"noteKeywords": [
						"BREAKING CHANGE",
						"BREAKING CHANGES",
						"BREAKING"
					]
				}
			}
		],
		[
			"@semantic-release/release-notes-generator",
			{
				"parserOpts": {
					"noteKeywords": [
						"BREAKING CHANGE",
						"BREAKING CHANGES",
						"BREAKING"
					]
				},
				"writerOpts": {
					"commitsSort": [
						"subject",
						"scope"
					]
				}
			}
		],
		[
			"@semantic-release/changelog",
			{
				"changelogFile": "CHANGELOG.md"
			}
		],
		"@sebbo2002/semantic-release-jsr",
		[
			"@semantic-release/npm",
			{
				"npmPublish": false
			}
		],
		"@semantic-release/github",
		[
			"@semantic-release/git",
			{
				"assets": [
					"package.json",
					"jsr.json",
					"CHANGELOG.md"
				],
				"message": "ci(release): ${nextRelease.version} \n\n${nextRelease.notes}"
			}
		]
	]
}